@import "var";

.game-desktop {
	margin-top: 2rem;
	width: 100vw;
	height: 90vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.chat-room {
		// background-color: red;
		box-shadow: 0px 0px 12px 2px rgba($accent, 0.4);
		background-color: $dark;
		width: 25%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: left;
		justify-content: space-between;
		.prize-pool {
			margin-top: 6%;
			width: 100%;
			height: 20%;
			.label {
				font-size: 2rem;
				color: $light;
			}
			.prize {
				margin-top: -1rem;
				font-size: 5rem;
				font-weight: 700;
				color: $accent;
				.ghd {
					margin-left: 0.75rem;
					font-size: 3.75rem;
				}
			}
		}

		.chat {
			height: 70%;
			width: 100%;
			padding: 0.5rem;
			background-color: rgba(lighten($dark, 60%), 0.4);
			border-radius: 0.5rem;
			margin-top: 1rem;
			.chat-text {
				height: 85%;
				width: 100%;
				overflow-y: scroll;
				overflow-x: hidden;
				padding: 1rem;
			}
			.chat-input {
				bottom: 0.5rem;
				height: 15%;
				width: 100%;
				display: flex;
				align-items: center;
				input {
					font-size: 1.2rem;
					width: 80%;
					height: 70%;
					border: none;
					border-radius: 0.5rem;
					padding: 0.75rem 1rem;
					color: $light;
					background-color: rgba($light, 0.3);
					&:focus {
						outline: none;
					}
				}
				button {
					margin-left: 0.75rem;
					width: 20%;
					height: 65%;
					background-color: $accent;
					border: none;
					border-radius: 0.5rem;
					display: flex;
					justify-content: center;
					cursor: pointer;
					align-items: center;
					svg {
						margin-left: -0.25rem;
						margin-bottom: -0.25rem;
						fill: $light;
					}
				}
			}
		}
	}

	.chessboard {
		padding: 1rem;
		// background-color: green;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.players {
			// background-color: red;
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 90%;
			max-width: 40vw;
			height: 15%;
			padding: 0 0.5rem;
			.player-info {
				display: flex;
				align-items: flex-end;
				.username {
					color: $accent;
					font-size: 1.5rem;
					font-weight: 500;
				}
				.ilo {
					font-size: 0.8rem;
					font-weight: 500;
					margin-left: 0.5rem;
					margin-bottom: 0.35rem;
				}
			}
		}
		.board {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin: 1rem 0;
		}
	}
	.game-info {
		box-shadow: 0px 0px 12px 2px rgba($accent, 0.4);
		background-color: $dark;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		height: 100%;
		.pgn {
			width: 22vw;
			height: 70%;
			border: 1px solid pink;
			border-radius: 1rem;
		}
		.btns {
			display: grid;
			width: 100%;
			height: 25%;
			margin-top: 2rem;
			margin-bottom: 1rem;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 1fr;
			gap: 2rem;
			button {
				cursor: pointer;
				border: none;
				border-radius: 0.5rem;
				background-color: $accent;
				color: $dark;
				font-size: 1.5rem;
			}
			.danger {
				background-color: rgb(255, 64, 64);
				color: $light;
			}
		}
	}
}

.game-tablet {
	margin-top: 1rem;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	.chessboard {
		padding: 2rem;
		// background-color: green;
		width: 65%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.players {
			// background-color: red;
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			height: 15%;
			.player-info {
				display: flex;
				align-items: flex-end;
				.username {
					color: $accent;
					font-size: 1.5rem;
					font-weight: 500;
				}
				.ilo {
					font-size: 0.8rem;
					font-weight: 500;
					margin-left: 0.5rem;
					margin-bottom: 0.35rem;
				}
			}
		}
		.board {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin: 1rem 0;
		}
	}
	.game-meta {
		box-shadow: 0px 0px 12px 2px rgba($accent, 0.4);
		background-color: $dark;
		width: 35%;
		padding: 1rem;
		height: 100%;
		.ant-tabs {
			height: 100%;
		}
		.pgn {
			width: 100%;
			height: 70%;
			border: 1px solid pink;
			border-radius: 1rem;
		}
		.btns {
			display: grid;
			width: 100%;
			height: 25%;
			margin-top: 2rem;
			margin-bottom: 1rem;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 1fr;
			gap: 2rem;
			button {
				cursor: pointer;
				border: none;
				border-radius: 0.5rem;
				background-color: $accent;
				color: $dark;
				font-size: 1.5rem;
			}
			.danger {
				background-color: rgb(255, 64, 64);
				color: $light;
			}
		}
		.prize-pool {
			margin-top: 6%;
			width: 100%;
			height: 20%;
			.label {
				font-size: 2rem;
				color: $light;
			}
			.prize {
				margin-top: -1rem;
				font-size: 5rem;
				font-weight: 700;
				color: $accent;
				.ghd {
					margin-left: 0.75rem;
					font-size: 3.75rem;
				}
			}
		}

		.chat {
			height: 70%;
			width: 100%;
			padding: 0.5rem;
			background-color: rgba(lighten($dark, 60%), 0.4);
			border-radius: 0.5rem;
			margin-top: 1rem;
			.chat-text {
				height: 85%;
				width: 100%;
				overflow-y: scroll;
				overflow-x: hidden;
				padding: 1rem;
			}
			.chat-input {
				bottom: 0.5rem;
				height: 15%;
				width: 100%;
				display: flex;
				align-items: center;
				input {
					font-size: 1.2rem;
					width: 80%;
					height: 70%;
					border: none;
					border-radius: 0.5rem;
					padding: 0.75rem 1rem;
					color: $light;
					background-color: rgba($light, 0.3);
					&:focus {
						outline: none;
					}
				}
				button {
					margin-left: 0.75rem;
					width: 20%;
					height: 65%;
					background-color: $accent;
					border: none;
					border-radius: 0.5rem;
					display: flex;
					justify-content: center;
					cursor: pointer;
					align-items: center;
					svg {
						margin-left: -0.25rem;
						margin-bottom: -0.25rem;
						fill: $light;
					}
				}
			}
		}
	}
}

.game-mobile {
}
