@import "var";

.game-desktop {
	margin-top: 2rem;
	width: 100vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.chat-room {
		// background-color: red;
		box-shadow: 0px 0px 12px 2px rgba($accent, 0.25);
		background-color: $light;
		height: 100%;
		//min-height -> calc
		display: flex;
		flex-direction: column;
		align-items: left;
		justify-content: space-between;
		.prize-pool {
			margin-top: 5%;
			height: 20%;
			//min-height
			.label {
				font-size: 1.5rem;
				color: $dark;
			}
			.prize {
				display: flex;
				align-items: center;
				margin-top: -1rem;
				font-size: 4rem;
				font-weight: 700;
				color: darken($accent, 15%);
				.amount {
					margin-left: 0.5rem;
				}
				.ghd {
					font-size: 2rem;
					padding: 0 0.5rem;
					border-radius: 0.6rem;
					background-color: darken($accent, 15%);
					color: $light;
				}
			}
		}

		.chat {
			height: 50%;
			width: 100%;
			background-color: rgba(darken($light, 40%), 0.3);
			border-radius: 0.5rem;
			.chat-text {
				height: 90%;
				width: 100%;
				overflow-y: scroll;
				overflow-x: hidden;
			}
			.chat-input {
				height: 10%;
				width: 100%;
				display: flex;
				align-items: center;
				input {
					font-size: 1rem;
					width: 85%;
					height: 100%;
					border: none;
					border-radius: 0 0 0 0.5rem;
					padding: 0.75rem 1rem;
					color: $light;
					background-color: lighten($dark, 10%);
					box-shadow: 0px -4px 8px 0 rgba($accent, 0.25);
					&:focus {
						outline: none;
					}
				}
				button {
					width: 15%;
					height: 100%;
					background-color: $accent;
					border: none;
					border-radius: 0 0 0.5rem 0;
					box-shadow: 0px -4px 8px 0 rgba($accent, 0.25);
					display: flex;
					justify-content: center;
					cursor: pointer;
					align-items: center;
					svg {
						margin-left: -0.25rem;
						margin-bottom: -0.25rem;
						fill: $light;
					}
				}
			}
		}
		.btns {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			height: 25%;
			button {
				height: 4.5rem;
				width: 30%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				padding: 0.5rem;
				cursor: pointer;
				border: none;
				border-radius: 0.5rem;
				background-color: darken($accent, 15%);
				color: $light;
				svg {
					fill: $light;
				}

				.text {
					display: none;
					margin-top: 0.1rem;
					font-size: 1.1rem;
					font-weight: 700;
					transition: display 0.2s ease-in-out;
				}
				&:hover {
					.text {
						display: block;
					}
				}
			}
			.danger {
				background-color: rgb(255, 64, 64);
				color: $light;
			}
		}
	}

	.chessboard {
		// background-color: green;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.game-info {
		box-shadow: 0px 0px 12px 2px rgba($accent, 0.25);
		background-color: $light;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		.pgn {
			width: 100%;
			height: 50%;
			border: 1px solid grey;
			border-radius: 1rem;
		}
		.players {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			width: 100%;
			height: 25%;
			padding: 0 0.5rem;
			.player-info {
				width: 100%;
				display: flex;
				align-items: flex-end;
				.username {
					color: darken($accent, 15%);
					font-size: 1.5rem;
					font-weight: 500;
				}
				.elo {
					color: $dark;
					font-size: 0.8rem;
					font-weight: 500;
					margin-left: 1.5rem;
					margin-bottom: 0.35rem;
				}
			}
		}
	}
}

.game-tablet {
	margin-top: 1rem;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	.chessboard {
		padding: 2rem;
		// background-color: green;
		width: 65%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.players {
			// background-color: red;
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			height: 15%;
			.player-info {
				display: flex;
				align-items: flex-end;
				.username {
					color: $accent;
					font-size: 1.5rem;
					font-weight: 500;
				}
				.ilo {
					font-size: 0.8rem;
					font-weight: 500;
					margin-left: 0.5rem;
					margin-bottom: 0.35rem;
				}
			}
		}
		.board {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin: 1rem 0;
		}
	}
	.game-meta {
		box-shadow: 0px 0px 12px 2px rgba($accent, 0.4);
		background-color: $dark;
		width: 35%;
		padding: 1rem;
		height: 100%;
		.ant-tabs {
			height: 100%;
		}
		.pgn {
			width: 100%;
			height: 70%;
			border: 1px solid pink;
			border-radius: 1rem;
		}
		.btns {
			display: grid;
			width: 100%;
			height: 25%;
			margin-top: 2rem;
			margin-bottom: 1rem;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 1fr;
			gap: 2rem;
			button {
				cursor: pointer;
				border: none;
				border-radius: 0.5rem;
				background-color: $accent;
				color: $dark;
				font-size: 1.5rem;
			}
			.danger {
				background-color: rgb(255, 64, 64);
				color: $light;
			}
		}
		.prize-pool {
			margin-top: 6%;
			width: 100%;
			height: 20%;
			.label {
				font-size: 2rem;
				color: $light;
			}
			.prize {
				margin-top: -1rem;
				font-size: 5rem;
				font-weight: 700;
				color: $accent;
				.ghd {
					margin-left: 0.75rem;
					font-size: 3.75rem;
				}
			}
		}

		.chat {
			height: 70%;
			width: 100%;
			padding: 0.5rem;
			background-color: rgba(lighten($dark, 60%), 0.4);
			border-radius: 0.5rem;
			margin-top: 1rem;
			.chat-text {
				height: 85%;
				width: 100%;
				overflow-y: scroll;
				overflow-x: hidden;
				padding: 1rem;
			}
			.chat-input {
				bottom: 0.5rem;
				height: 15%;
				width: 100%;
				display: flex;
				align-items: center;
				input {
					font-size: 1.2rem;
					width: 80%;
					height: 70%;
					border: none;
					border-radius: 0.5rem;
					padding: 0.75rem 1rem;
					color: $light;
					background-color: rgba($light, 0.3);
					&:focus {
						outline: none;
					}
				}
				button {
					margin-left: 0.75rem;
					width: 20%;
					height: 65%;
					background-color: $accent;
					border: none;
					border-radius: 0.5rem;
					display: flex;
					justify-content: center;
					cursor: pointer;
					align-items: center;
					svg {
						margin-left: -0.25rem;
						margin-bottom: -0.25rem;
						fill: $light;
					}
				}
			}
		}
	}
}

// .game-mobile {
// }

// @media screen and (max-width: 1000px) {
// 	.game-tablet {
// 		.chessboard {
// 			width: 100%;
// 			height: 100%;
// 			.players {
// 				width: 100%;
// 				height: 100%;
// 				.player-info {
// 					width: 100%;
// 					height: 100%;
// 					.username {

// }
